In [11]:
import turbodbc
import numpy as np
import pandas as pd

In [12]:
sql = """
   sel  SEGMENT, MSISDN, report_date, SUBS_ID, 
        sd_day_voice_cnt,
days_with_data_trafic,
cpe_popularity,av_dev_use,
avg_ses_mou,
bal_avg_amt,
bal_min_amt,
sd_day_mbou,
cpe_m_age,
bal_max_amt,
days_home_cnt,
avg_day_mbou,
avg_day_voice_cnt,
sms_tot_cnt,
out_data_ratio,
sum_ses_mbou,
cpe_p_age,
avg_day_data_cnt,
cl_opp_gender_share,
dev_park_size,
cl_core_opp_gender_share,
lifetime,
ret_dev_ind,
max_dev_use,
cl_avg_lifetime
 from UAT_DM.TE_MS_20180202_MRT
 where 
  cpe_type in ('C2','C3')
 and (sum_ses_mbou>0 or avg_day_mou>0)
 and lifetime>30"""

In [13]:
from turbodbc import connect
connection = connect(dsn='Teradata')

In [14]:
cursor = connection.cursor()

In [15]:
cursor.execute(sql)

In [17]:
data = pd.DataFrame(cursor.fetchallnumpy())

In [20]:
print(data.shape)
data.head()

(21088, 29)

,SEGMENT,MSISDN,report_date,SUBS_ID,sd_day_voice_cnt,days_with_data_trafic,cpe_popularity,av_dev_use,avg_ses_mou,bal_avg_amt,...,sum_ses_mbou,cpe_p_age,avg_day_data_cnt,cl_opp_gender_share,dev_park_size,cl_core_opp_gender_share,lifetime,ret_dev_ind,max_dev_use,cl_avg_lifetime
0,1,79042989574,2017-02-01,31609393,7.138394,0,4.297476,143.000000,63.626168,51.439643,...,0,645,0.000000,0.00,7,0.00,1859,0.31,645,2000.583333
1,6,79514454233,2017-06-01,100043868701,12.854053,0,4.907331,100.000000,241.138122,32.327500,...,0,159,0.000000,0.31,9,0.33,716,0.90,550,1669.615385
2,1,79234957628,2017-11-01,100032821024,19.928790,28,4.300726,97.636364,81.804598,53.404231,...,1206,117,14.035714,0.65,6,1.00,1082,0.89,715,2356.850000
3,4,79516276400,2017-10-01,100035203597,9.145794,0,4.625570,72.000000,39.151163,114.220887,...,0,75,0.000000,0.75,8,0.90,2231,0.86,328,1082.250000
4,5,79042222287,2017-06-01,200047988609,27.372655,4,4.912642,11.021127,127.534838,61.575300,...,324,1,18.500000,0.40,29,0.40,1078,1.00,279,2167.469136